EXPO_PUBLIC_APP_NAME=
EXPO_PUBLIC_EXCHANGE_RATE_API_URL=
EXPO_PUBLIC_EXCHANGE_RATE_FALLBACK_API_URL=
EXPO_PUBLIC_SUBRIN_NOTIFICATION_API_URL=
EMAIL_PROVIDER=
RESEND_API_KEY=
EMAIL_FROM=
SUBRIN_CRON_SECRET=
